html,
:host {
  line-height: 1.75;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245 245 244);
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  /* font-size: 2em; */
  margin: 10rem auto 2rem auto;
}

/* need to fix the flex wrap while responsive */
.chart {
  display: flex;
  flex-wrap: wrap;
}

.highlighted-positive-data {
  margin-left: 1rem;
  font-family: inherit;
  color: rgb(55 65 81);
  font-size: small;
}

.highlighted-negative-data {
  margin-left: 1rem;
  font-family: inherit;
  color: rgb(55 65 81);
  font-size: small;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .highlight {
    fill: #fb8500;
    stroke: #fb8500;
    /* stroke-width: 1px; */
  }
}

#intro {
  margin-bottom: 120px;
}

#outro {
  margin-left: 2em;
  height: 180px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
  #scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: #f3f3f3; */
    padding: 1rem;
  }

  #scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  article {
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
  }

  figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
    z-index: 0;
  }

  figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .step {
    margin: 0 auto 2rem auto;
    /* background-color: #3b3b3b; */
    background-color: rgb(245 245 244);
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active {
    /* background-color: goldenrod; */
    background-color: rgb(245 245 244);
    box-shadow: 0px 4px 12px #00000035;
    /* color: #3b3b3b; */
  }

  .step p {
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .highlight {
    fill: #fb8500;
    stroke: #fb8500;
    /* stroke-width: 1px; */
  }
}

@media (min-width: 480px) {
  #scrolly {
    position: relative;
  }

  article {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;
    width: 50%;
  }

  .step {
    margin: 2rem auto 4rem auto;
    background-color: rgb(245 245 244);
    /* background-color: #3b3b3b; */
    /* color: #fff; */
  }

  .step.is-active {
    /* background-color: goldenrod; */
    background-color: rgb(245 245 244);
    box-shadow: 0px 4px 12px #00000035;
    /* color: #3b3b3b; */
  }

  .step p {
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .highlight {
    fill: #fb8500;
    stroke: #fb8500;
    /* stroke-width: 1px; */
  }
}

text {
  color: rgb(107 114 128);
  font-size: xx-small;
}

.category {
  color: rgb(107 114 128);
  font-size: small;
}

h1 {
  /* gray-900 */
  color: rgb(17 24 39);
}
p.subtitle {
  /* indigo 600 */
  color: rgb(79 70 229);
}
p.text {
  /* gray-700 */
  color: rgb(55 65 81);
  font-size: medium;
}

p.step {
  color: rgb(55 65 81);
  font-size: medium;
}

p.footer {
  margin-top: 10px;
  font-size: xx-small;
}

li {
  font-size: xx-small;
  margin-left: 10px;
}

/* .line {
  fill: none;
  stroke-width: 1.5px;
} */
.hidden {
  display: none;
}

.texthightlight {
  background-color: #fb8500;
}
