html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  display: inline-block;
  /* flex: 1; */
  flex-grow: 1;
  /* border: 2px solid blueviolet; */
  margin: auto;
  /*margin auto center aligns on the page*/
}

.chart {
  margin-right: 10px;
}

h1 {
  /* gray-900 */
  color: rgb(17 24 39);
}
p.subtitle {
  /* indigo 600 */
  color: rgb(79 70 229);
}
p.text {
  /* gray-700 */
  color: rgb(55 65 81);
  font-size: small;
}

p.footer {
  margin-top: 10px;
  font-size: xx-small;
}

li {
  font-size: xx-small;
  margin-left: 10px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.hidden {
  display: none;
}

input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

label {
  padding-left: 24px; /* Space for the custom checkbox */
  position: relative;
  cursor: pointer;
}

label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 0.1px solid #ccc;
  background-color: #fff;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  color: white;
  /* justify-content: center; */
  text-align: center;
  line-height: 18px;
}

input[type="checkbox"]:hover + label:before {
  opacity: 0.7;
}

input[type="checkbox"]:disabled + label:before {
  opacity: 0.5;
}

/* Specific colors for each category */
input#togglePositiveData:checked + label:before {
  background-color: #023047;
}

input#toggleSlightlyPositiveData:checked + label:before {
  background-color: #219ebc;
}

input#toggleSlightlyNegativeData:checked + label:before {
  background-color: #ffb703;
}

input#toggleNegativeData:checked + label:before {
  background-color: #fb8500;
}

input#toggleMissingData:checked + label:before {
  background-color: gray;
}
